body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
}

#game-container {
   
    min-height: 100vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game-content {
    height: 100%;
    width: 40%;
}

.game-title {
    color: white;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.progress-bar {
    background-color: #6a82fb;
    transition: width 0.5s ease-in-out;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    max-width: 700px;
}

.card-container {
    perspective: 1000px;
    aspect-ratio: 1 / 1;
}

.card-flipper {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.card-flipper.flipped {
    transform: rotateY(180deg);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    color: white;
}

.card-back {
    background-color: #fff;
    transform: rotateY(180deg);
    padding: 5px;
}

.card-back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

/* The front of the card (the number) */
.card-front {
    background-image: url('assets/images/back.png');
    background-size: cover;
    background-position: center;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.card-flipper.matched {
    opacity: 0.2;
    cursor: default;
    transform: scale(0.95);
    transition: opacity 0.3s, transform 0.3s;
}